@import url(./main.css);
//import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  outline: 0;
  transition: background-color 5000s ease-in-out 0s;
}

// COLORS



// END COLORS

html {
    font-size: 16px
}


img {
    max-width: 100%;
}
